.vue-icon{
  content: url('../assets/icon/vuejs.svg');
}
.affinity-icon{
  content: url('../assets/icon/affinity_photo.svg');
}
.bootstrap-icon{
  content: url('../assets/icon/bootstrap.svg');
}
.css-icon{
  content: url('../assets/icon/css3.svg');
}
.express-icon{
  content: url('../assets/icon/express.svg');
}
.figma-icon{
  content: url('../assets/icon/figma.svg');
}
.git-icon{
  content: url('../assets/icon/git.svg');
}
.html-icon{
  content: url('../assets/icon/html5.svg');
}
.jquery-icon{
  content: url('../assets/icon/jquery.svg');
}
.mongodb-icon{
  content: url('../assets/icon/mongodb.svg');
}
.nodejs-icon{
  content: url('../assets/icon/nodejs.svg');
}
.sass-icon{
  content: url('../assets/icon/sass_avatar.svg');
}
.vscode-icon{
  content: url('../assets/icon/visual_studio_code_2019.svg');
}
.javascript-icon{
  content: url('../assets/icon/javascript.svg');
}